:root {
  --primary: #0066FF;
  --primary-dark: #0361ec;
  --primary-light: #68a4ff;
  --secondary: #004B91;
  --text-dark: #1f2937;
  --text-muted: #50545c;
  --white: #ffffff;
  --border: #e5e7eb;
}